@namespace Shared.Identity

@using MudBlazor
@using Shared
@using Data.Storage

@using Modules.Db
@using Modules.Logging
@using Serilog.Core

@inject TestDbManager tdbm


<h1>
    Persons in test db:
</h1>

@foreach (var person in tdbm.ReadAll())
{
    <div>
        <p>
            @person.Name
        </p>
        <p>
            @person.Age | @person.Job
        </p>
    </div>
}

<input type="text" name="formName" id="formName" @bind="@formName">
<input type="text" name="formJob" id="formJob" @bind="@formJob">
<input type="number" name="formAge" id="formAge" @bind="@formAge">
<MudButton OnClick="SubmitForm">Add a test person</MudButton>





@code {
    private string formName = "";
    private string formJob = "";
    private short formAge;


    protected override void OnInitialized()
    {
        Log.Debug("Init. Test db entries:");
        Log.Debug("Testdb collection count: {count}", tdbm.ReadAll().Count);
    }
    private void SubmitForm()
    {
        Log.Debug("Inserting new test person");
        Log.Debug("Success: {status}", tdbm.InsertOne(formName, formJob, formAge));
    }
}